<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Classify Digits</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="css/main.css">

</head>
<body>

  {{{body}}}

</body>
</html>
