<h1>Classify Digits</h1>

<h2>Click an image to classify it</h2>

<div id="test-images">
{{#each images}}

<div class="image">
    <a href="#" class="thumbnail">
      <img src="/test-images/{{this}}" alt="">
    </a>
</div>

{{/each}}

</div>

<div class="result">
  <h3 id="classification">Classification: </h3>

  <div class="progress">
    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 0%">
    </div>
  </div>
</div>
